@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
a.headernav  {
    text-decoration: none;
    color: black; 
    font-size: 1rem;
    padding-top: 48px;
    padding-left: 10px;
    padding-right: 10px;
   }

a.headernav:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}


a.headersub  {
    text-decoration: none;
    color:  #0065FC; 
    font-size: 1rem;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
   }

body
{
    background: white;
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin: auto;
}

.mainHeader
{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 10px;
}

#logo
{
    display: inline-block;
    margin: 5%;
}
nav ul
{
    list-style-type: none;
}
.navheader 

{
    position: relative;
    right: 0;
    top: 0;
    font-weight: normal;
}
.navheaderul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 50px;
    margin-top: 10px;
}

.searchHeader__Title
{
    margin-bottom: 0;
}
.searchHeader__Text
{
    margin-top: 10px;
}

.searchForm
{
    display: flex;
}
.searchicon
{
    border: 1px solid transparent;
    border-radius: 8px 0px 0px 8px;
    padding: 13px;
    background-color: #F2F2F2;
    text-align: center;
}
.searchForm__input
{
    border: 1px solid  #F2F2F2;
    padding: 13px;
    background-color: transparent;
    text-align: left;
    font-weight: bold;
    color: black;
}
.searchForm__button
{
    border: 1px solid  transparent;
    border-radius: 0px 8px 8px 0px;
    padding: 13px;
    background-color: #0065FC;
    text-align: center;
    color: white;
}
.searchForm__button i
{
    display: none;
}
.searchFilters 
{
    display: inline-block;
    align-content: space-between;
    padding-top: 10px;
}
.searchFilters__Title
{
    padding: 12px;
    text-align: center;
    display: inline-block;
}
.searchFilters__Filtres
{
    display: inline-block;
    padding-right: 30px;
}
.searchFilters__Filter
{
    border: 1px solid #F2F2F2;
    border-radius: 50px 50px 50px 50px;
    background-color: white;
    font-weight: bold;
    display: inline-flex;
    margin-right: 20px;
    transform: scale(1);
    transition: transform 400ms;
}
.searchFilters__icon
{
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    padding: 12px;
    background-color: #DEEBFF;
    color: #0065FC;
}
.searchFilters__Icon
{
    width: 20px;
    text-align: center;
}
.searchFilters__Filter:hover
{
    cursor: pointer;
    transform: scale(1.15);
}
.searchResult
{
    display: flex;
    padding-top: 10px;
}
.searchResult__icon--Icon
{
    width: 15px;
    height: 15px;
    border: 1px solid #F2F2F2;
    text-align: center;
    padding: 8px;
    border-radius: 50%;
    color: #0065FC;
}
.searchResult__Text
{
    margin: 8px;
}
.result
{
    display: flex;
    align-items: flex-start;
}
.result__greybox
{
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    margin-top: 25px;
    min-height: 600px;
    display: inline-block;
}

.result__Title
{
    font-weight: bold;
    margin-left: 30px;
    padding-top: 15px;
    margin-bottom: 5px;
}

.result__flex
{
    display: flex;
    flex-wrap: wrap;
}
.result__Square
{
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 15px;
    max-width: 28%;
    min-width: 28%;
}
.result__Figure
{
    margin: 0;
}
.result__Figure--Img
{
    height: 110px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.result__Figure--Title
{
    margin: 6px 5px 0px 12px;
    font-size: 18px;
}
.result__Description
{
    margin: 3px 5px 3px 12px;
    font-size: 15px;
}
.result__note
{
    margin: 7px 5px 5px 13px;
    font-size: 15px;
    color: #0065FC;
}
.result__note--icongrey
{
    color: #F2F2F2;
}
.result__more
{
    display: flex;
    margin-left: 35px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
a
{
    color: inherit;
    text-decoration: none;
}
.resultPopular
{
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    margin-top: 25px;
    margin-left: 25px;
    max-width: 30%;
    min-width: 30%;
    min-height: 600px;
    display: inline-block;
}
.resultPopular__Title
{
    margin-bottom: 0px;
    margin-top: 30px;
    margin-left: 40px;
}
.resultPopular__Title i
{
    margin-left: 25%;
}
.resultPopular__flex
{
    display: flex;
    flex-wrap: wrap;
}

.popular__Square
{
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 28px;
    min-height: 135px;
    max-height: 120px;
    max-width: 390px;
}
.popular__Figure
{
    margin: 0;
    display: flex;
    max-width: 350px;
    max-height: 300px;
}
.popular__Figure--Img
{
    object-fit: cover;
    width: 125px;
    height: 135px;
    border-radius: 10px 0px 0px 10px;
}
.popular__Figure--Title
{
    margin: 15px 0px 0px 20px;
    font-size: 18px;
    font-weight: bold;
}
.popular__Description
{
    font-size: 15px;
    margin-top: 9px;
    margin-left: 20px;
}
.popular__note
{
    margin-left: 20px;
    margin-top: 39px;
    color: #0065FC;
}
.popular__note2
{
    margin-left: 20px;
    margin-top: 20px;
    color: #0065FC;
}
.popular__note3
{
    margin-left: 20px;
    margin-top: 22px;
    color: #0065FC;
}
.popular__note--icongrey
{
    color: #F2F2F2;
}

.activity
{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    max-height: 600px;
}
.activity__square--1
{
    max-width: 330px;
    min-width: 330px;
    box-shadow: 0 0 8px #0000002e;
    background-color: white;
    border-radius: 15px;
    max-height: 600px;
}
.activity__zone--Image1
{
    max-width: 330px;
    min-height: 500px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.activity__zone--Title
{
    margin-left: 20px;
    margin-bottom: 20px;
}
.activity__square--2
{
    box-shadow: 0 0 8px #0000002e;
    background-color: white;
    border-radius: 15px;
    max-width: 330px;
    min-height: 340px;
    min-width: 330px;
}
.activity__zone--Image2
{
    max-width: 330px;
    max-height: 280px;
    min-width: 330px;
    min-height: 280px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.activity__square--5
{
    box-shadow: 0 0 8px #0000002e;
    background-color: white;
    border-radius: 15px;
    max-width: 330px;
    min-width: 330px;
    margin-top: 40px;
    max-height: 200px;
}
.activity__zone--Image5
{
    max-width: 330px;
    max-height: 120px;
    min-width: 330px;
    object-fit: cover;
    min-height: 100px;
    border-radius: 10px 10px 0px 0px;
}
.activity__square--3
{
    box-shadow: 0 0 8px #0000002e;
    background-color: white;
    border-radius: 15px;
    max-width: 330px;
    min-width: 330px;
}
.activity__zone--Image3
{
    max-width: 330px;
    min-height: 500px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.activity__square--4
{
    box-shadow: 0 0 8px #0000002e;
    background-color: white;
    border-radius: 15px;
    max-width: 330px;
    min-width: 330px;
}
.activity__zone--Image4
{
    max-width: 330px;
    max-height: 200px;
    min-width: 330px;
    object-fit: cover;
    min-height: 200px;
    border-radius: 10px 10px 0px 0px;
}
.activity__square--6
{
    box-shadow: 0 0 8px #0000002e;
    background-color: white;
    border-radius: 15px;
    max-width: 330px;
    min-width: 330px;
    margin-bottom: 0;
    margin-top: 36px;
}
.activity__zone--Image6
{
    max-width: 330px;
    max-height: 200px;
    min-width: 330px;
    object-fit: cover;
    min-height: 200px;
    margin-bottom: 0;
    border-radius: 10px 10px 0px 0px;
}
footer
{
    margin-top: 45px;
}

.footer__nav
{
    background-color: #F2F2F2;
    display: flex;
    height: 200px;
}
.footer__nav--propos
{
    margin-right: 230px;
}
.footer__nav--hebergement
{
    margin-right: 230px;
}
.footer__nav--h2
{
    margin-left: 40px;
    margin-bottom: -4px;
    margin-top: 30px;
    font-size: 18px;
}